
<div class="row">


</div>


<div class="row">

  <div class=" col-lg-3 col-xl-3 col-md-3 col-sm-12 text-center " id="left">
    <h5 style="color: white;">Local News</h5>


    <div *ngFor="let rssfeed of localnewsrssmodel">
    <div class="card bg-light mb-2">
      <div class="card-body">
        <h5 class="card-title">{{rssfeed.title}}</h5>
        <p class="card-text">{{rssfeed.description}}</p>
    <a href="{{rssfeed.link}}" target="_blank" class="btn btn-primary">Go to link</a>
      </div>
    </div>

  </div>
    

  
  </div>

  <div class="col-lg-3 col-xl-3  col-md-3 col-sm-12 text-center" id="middle">
    <h5 style="color: white;">International News</h5>

     <div *ngFor="let rssfeed of internationalnewsrssmodel">
          <div class="card bg-light mb-2">
            <div class="card-body">
              <h5 class="card-title">{{rssfeed.title}}</h5>
              <p class="card-text">{{rssfeed.description}}</p>
                  <a href="{{rssfeed.link}}" target="_blank" class="btn btn-primary">Go to link</a>
            </div>
          </div>

    </div>  

    
  </div>


  <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12 text-center" id="right">
    <h5 style="color: white;">Tech News</h5>

         <div *ngFor="let rssfeed of technewsrssmodel">
          <div class="card bg-light mb-2">
            <div class="card-body">
              <h5 class="card-title">{{rssfeed.title}}</h5>
              <p class="card-text">{{rssfeed.description}}</p>
                  <a href="{{rssfeed.link}}" target="_blank" class="btn btn-primary">Go to link</a>
            </div>
          </div>

    </div>  

   
  </div>


  <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12 text-center" id="far-right">
    <h5 style="color: white;">Sports</h5>
             <div *ngFor="let rssfeed of sportsnewsrssmodel">
          <div class="card bg-light mb-2">
            <div class="card-body">
              <h5 class="card-title">{{rssfeed.title}}</h5>
              <p class="card-text">{{rssfeed.description}}</p>
                  <a href="{{rssfeed.link}}" target="_blank" class="btn btn-primary">Go to link</a>
            </div>
          </div>

    </div>  
    
  </div>
</div> 


